.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

.navbar a {
  text-decoration: none;
  color: #333;
  margin: 0 1rem;
}

.navbar-title-bold {
  font-weight: 900;
  font-size: 25px;
}

.logout-btn {
  margin-left: auto;
}
